@using ZFC.Shop.Entity
@{
    ViewBag.Title = "用户中心";
    ViewBag.SiteTitle = "用户中心";
    ViewBag.Banner = false;
    Customer user = Model;
    CustomerExt userExt = ViewBag.UserExt;
}
<div class="uchome-info">
    <div class="uchome-info-uimg">
        <img src="@userExt.AvatarUrl">
    </div>
    <div class="uchome-info-uinfo">
        <p>@userExt.DisplayName , 欢迎光临！[<a href="/user/logout" class="white">退出登录</a>]</p>
        <p>帐号: @user.Username @*, 余额: <span class="red">￥20000.00</span>*@</p>
        <p>积分: <span class="red">2531</span>, 消息: <a href="#" class="red">12</a></p>
    </div>
</div>

<div class="am-cf uchome-apps">
    <ul class="am-avg-sm-3 uchome-apps-ul">
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp1.png" class="am-img-responsive"></p><p class="namep">我的订单</p><p class="lastp">0笔</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp2.png" class="am-img-responsive"></p><p class="namep">积分订单</p><p class="lastp">0笔</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp3.png" class="am-img-responsive"></p><p class="namep">团购订单</p><p class="lastp">0笔</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp4.png" class="am-img-responsive"></p><p class="namep">购物车</p><p class="lastp">0件</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp5.png" class="am-img-responsive"></p><p class="namep">积分充值</p><p class="lastp">0个</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp6.png" class="am-img-responsive"></p><p class="namep">金币记录</p><p class="lastp">0条</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp7.png" class="am-img-responsive"></p><p class="namep">收藏商品</p><p class="lastp">0件</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp8.png" class="am-img-responsive"></p><p class="namep">申请提现</p><p class="lastp">￥0</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp9.png" class="am-img-responsive"></p><p class="namep">我的推广</p><p class="lastp">160</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp10.png" class="am-img-responsive"></p><p class="namep">我的粉丝</p><p class="lastp">0位</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp11.png" class="am-img-responsive"></p><p class="namep">我的伙伴</p><p class="lastp">0位</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp12.png" class="am-img-responsive"></p><p class="namep">我的消息</p><p class="lastp">0条</p></a></li>
        <li><a href="#"><p class="imgp"><img src="~/resources/images/uhomeapp13.png" class="am-img-responsive"></p><p class="namep">金币充值</p><p class="lastp">￥0</p></a></li>
    </ul>

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#logout').click(function () {
                var url = '@Url.Content("~/user/logout")';
                var skipUrl = '@Url.Content("~/login")';
                $.myAjax(url, {}, function (data) {
                    var flag = data.Type <= 1;
                    if (flag) {
                        window.location.href = skipUrl;
                    }
                    else {
                        $.alertMsg(data.Msg);
                    }
                });
            });
        });
    </script>
}
