<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link href="~/resources/plugins/amazeui/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/resources/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/resources/css/wap.css" rel="stylesheet" />
    @RenderSection("styles", false)
    @{
        string siteTitle = ViewBag.SiteTitle ?? "摄影平台";
        bool banner = ViewBag.Banner ?? true;
    }
</head>
<body>
    <div class="container">
        <header data-am-widget="header" class="am-header am-header-default my-header">
            <div class="am-header-left am-header-nav">
                <a href="javascript:void(0)" onclick="history.go(-1)">
                    <i class="am-header-icon am-icon-chevron-left"></i>
                </a>
            </div>
            <h1 class="am-header-title">
                <a href="javascript:void(0)">@siteTitle</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="/">
                    <i class="am-header-icon  am-icon-home"></i>
                </a>
            </div>
        </header>
        <!-- banner -->
        @if (banner)
        {
            <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
                <ul class="am-slides">
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
                    </li>
                </ul>
            </div>
        }
        @RenderBody()
        <!--底部-->
        <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer" id="">
            <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
                <li>
                    <a href="/">
                        <span class="am-icon-home"></span>
                        <span class="am-navbar-label">首页</span>
                    </a>
                </li>
                <li>
                    <a href="/shoppingcart">
                        <span class="am-icon-comments"></span>
                        <span class="am-navbar-label">购物车</span>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <span class="am-icon-map-marker"></span>
                        <span class="am-navbar-label">我</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="~/resources/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/resources/plugins/amazeui/js/amazeui.min.js"></script>
    <script src="~/resources/scripts/common.js"></script>
    <script src="~/resources/plugins/layui/layui.js"></script>
    @RenderSection("scripts", false)
</body>
</html>