@model dynamic
@{
    dynamic info = Model.Base;
}

<table class="table table-condensed table-bordered">
    <tr>
        <th class="wh50p">申请人工号</th>
        <th class="wh50p">申请人姓名</th>
    </tr>
    <tr>
        <td>@info.ApplicantWWID</td>
        <td>@info.ApplicantName</td>
    </tr>
    <tr>
        <th>主管经理</th>
        <th>部门</th>
    </tr>
    <tr>
        <td>@info.SupervisorName</td>
        <td>@info.Department</td>
    </tr>
    <tr>
        <th>职位</th>
        <th>手机</th>
    </tr>
    <tr>
        <td>@info.ApplicantTitle</td>
        <td>@info.ApplicantPhone</td>
    </tr>
    <tr>
        <th colspan="2">出差目的简述</th>
    </tr>
    <tr>
        <td colspan="2">国际测试</td>
    </tr>
    <tr>
        <th colspan="2">详细描述</th>
    </tr>
    <tr>
        <td colspan="2">描述</td>
    </tr>
</table>

